[Desktop Entry]
Encoding=UTF-8
Name=JurassicCoin
Comment=JurassicCoin P2P Cryptocurrency
Exec=/usr/bin/novacoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/novacoin80.xpm
MimeType=x-scheme-handler/novacoin;
Categories=Office;
Name[en_PH]=jurassiccoin-qt.desktop
