#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_jurassiccoind += debian/examples/*
DEB_INSTALL_MANPAGES_jurassiccoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix jurassiccoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f jurassiccoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake jurassiccoin-qt.pro USE_QRCODE=1 USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/jurassiccoind:
	chmod +x $(cdbs_curdestdir)usr/bin/jurassiccoind
binary-post-install/jurassiccoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/jurassiccoin-qt
